.keep-shopping.pv1.mt4.has-text-right
  = link_to 'Keep Shopping', products_path, class: 'button is-warning'
%hr/
%section.section
  = render(@cart.line_items)
  .columns
    .column
      = button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "button is-danger"
    .column.total.has-text-right
      %h4.title.is-4
        %span.f5.has-text-grey Total:
        = number_to_currency(@cart.total_price)