<% content_for :header do %>
  <div class="container">
    <h1 class="title">
        Editing Product
    </h1>
  </div>
<% end %>
    
<div class="pv4">
  <%= render 'form', product: @product %>
</div>